<a href="https://colab.research.google.com/github/Anynha-Lins/oficina_ciclo_11/blob/main/c_pia_de_exerc_cios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Para a realização desses exercícios, peço que configurem para não aparecer sugestões da IA Gemini*

### A) **Utilizando variáveis, gere uma apresentação curta de sí mesma, como nesse exemplo**:

In [ ]:
# Oi! Eu sou a Amanda, tenho 30 anos, moro em Salvador e meu signo é Gêmeos

In [ ]:
# Dica: As variáveis podem ser algo como:
nome = 'Amanda'
idade = 30
cidade = 'Salvador'
signo = 'Gêmeos'

In [ ]:
# Resposta aqui:
nome = input("Qual é o seu nome?")
idade = input("Qual sua idade?")
cidade = input("Onde você mora?")
signo = input("Qual seu signo?")
curso = input("Você estuda? Qual curso?")
print(f"Olá pessoal, sou a {nome}, tenho {idade} anos, moro em {cidade} a 7 anos.")
print (f"Atualmente estou como estudante de {curso} pela UNICID - Universidade da Cidade de São Paulo, no 5° semestre,")
print (f"essa para mim foi uma grande conquista, eu consegui 100% de bolsa pelo Prouni")
print (f"Sou do signo de {signo} graças a Deus e estou muito feliz de estar com vocês, gratidão!") #f é formatação

Qual é o seu nome?Ana
Qual sua idade?27
Onde você mora?Mogi das Cruzes - SP
Qual seu signo?Capricórnio
Você estuda? Qual curso?Ciências da Computação
Olá pessoal, sou a Ana, tenho 27 anos, moro em Mogi das Cruzes - SP a 7 anos.
Atualmente estou como estudante de Ciências da Computação pela UNICID - Universidade da Cidade de São Paulo, no 5° semestre,
essa para mim foi uma grande conquista, eu consegui 100% de bolsa pelo Prouni
Sou do signo de Capricórnio graças a Deus e estou muito feliz de estar com vocês, gratidão!



---

### B) **Qual o maior valor dessa lista de gastos?**

In [ ]:
gastos = [10.60, 11.99, 5.50, 10, 45.99, 7.50, 4.00]

In [ ]:
# O valor mais caro é: 45.99

In [ ]:
# Resposta aqui
valor_maximo = max(gastos)
print("O valor mais caro é: " + str(valor_maximo))

O valor mais caro é: 45.99



---

### C) **Qual a média dessa lista?**:

In [ ]:
numeros = [10,80,50,90,70]

In [ ]:
# A média dos números é: 60.0

In [ ]:
# Resposta aqui
media = sum(numeros)/ len(numeros)
print("A média dos números é: " + str(media))

A média dos números é: 60.0



---

### D) **Qual a média final dessas notas, qual a maior e qual a menor nota**

In [ ]:
notas = [10,7.8, 6, 8, 9]

In [ ]:
# A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!

In [ ]:
media = sum(notas)/ len(notas)
nota_alta = max(notas)
nota_baixa = min(notas)
print(f"A média final é {media}. A sua maior nota foi {nota_alta} e a menor nota foi {nota_baixa}!")

A média final é 8.16. A sua maior nota foi 10 e a menor nota foi 6!



---

### E) **Com as mesmas informações do exercício anterior, apresente se a aluna foi APROVADA ou REPROVADA**

*  Se a média for igual ou superior a 6 apresentar a mensagem "Parabéns, você foi APROVADA!"
*  Se a média for menor, apresentar "Não foi dessa vez, infelizmente você foi REPROVADA!"

In [ ]:
# Parabéns você foi aprovada!

In [ ]:
# Resposta aqui
if media>= 6:
    print("Parabéns, você foi APROVADA!")
else:
    print("Não foi dessa vez, infelizmente você foi REPROVADA!")

Parabéns, você foi APROVADA!



---

### F) **Desenvolva um programa que realize as quatro operações básicas (adição, subtração, multiplicação e divisão) entre dois números. A usuária deve escolher a operação e inserir os valores**

In [ ]:
#Digite o primeiro número: 10
#Digite o segundo número: 20
#Digite a operação (+, -, *, /): +
#Resultado: 30.0

In [8]:
# Resposta aqui

def calculadora():
  operacao = input("Digite a operação (+, -, *, /)")
  num1 = float(input("Digite o 1° número: "))
  num2 = float(input("Digite o 2° número: "))

  if operacao == "+":
      resultado = num1 + num2
  elif operacao == "-":
        resultado = num1 - num2
  elif operacao == "*":
        resultado = num1 * num2
  elif operacao == "/":
          if num2 == 0:
            resultado = "Não é possível dividir por 0"
          else:
              resultado = num1 / num2
  else:
        resultado: "Não é possível calcular"

  print(f"Resultado: {resultado}")

calculadora()

Digite a operação*
Digite o 1° número: 10
Digite o 2° número: 5
Resultado: 50.0



---

### G) **Faça um Programa que leia três números e mostre-os em ordem decrescente.**

In [16]:
# Resposta aqui

def decrescente():
  num1 = int(input("Digite o 1° número (Inteiro): "))
  num2 = int(input("Digite o 2° número (Inteiro): "))
  num3 = int(input("Digite o 3° número (Inteiro): "))

  maior_numero = max(num1, num2, num3)
  menor_numero = min(num1, num2, num3)
  num_meio = (num1 + num2 + num3 - maior_numero - menor_numero)

  print(f"Os números em ordem decrescente são: {maior_numero}, {num_meio}, {menor_numero}")

decrescente()

Digite o 1° número (Inteiro): 5
Digite o 2° número (Inteiro): 4
Digite o 3° número (Inteiro): 9
Os números em ordem decrescente são: 9, 5, 4



---

### H) **Faça uma função que retorne o reverso de um número inteiro informado. Por exemplo: 153 -> 351**

In [18]:
# Resposta aqui

def reverso ():
  numero = int(input("Digite um número inteiro: "))
  numero_str = str(numero)
  numero_reverso = numero_str[::-1]

  print(f"O reverso do número {numero} é {numero_reverso}")

reverso()

Digite um número inteiro: 97
O reverso do número 97 é 79



---

### I) **Faça um programa que solicite o nome do usuário e imprima-o em formato de escada.**

In [ ]:
#Digite seu nome: amanda
#a
#am
#ama
#aman
#amand
#amanda

In [19]:
# Resposta aqui

def escada():
  nome = input("Digite seu nome: ")
  for i in range(len(nome) + 1):
    print(nome[:i])

escada()

Digite seu nome: Ana Cristina

A
An
Ana
Ana
Ana C
Ana Cr
Ana Cri
Ana Cris
Ana Crist
Ana Cristi
Ana Cristin
Ana Cristina